[submodule "lib/rhino/util/jsonml"]
	path = lib/rhino/util/jsonml
	url = git://github.com/jbeard4/jsonml.git
[submodule "test/scxml-test-framework"]
	path = test/scxml-test-framework
	url = git://github.com/jbeard4/scxml-test-framework.git
