[submodule "projects/libraries/scxml"]
	path = projects/libraries/scxml
	url = git@gitlab.com:scion-scxml/scxml.git
[submodule "projects/libraries/schviz"]
	path = projects/libraries/schviz
	url = git@gitlab.com:scion-scxml/schviz.git
[submodule "projects/libraries/sax-js"]
	path = projects/libraries/sax-js
	url = git@gitlab.com:scion-scxml/sax-js.git
[submodule "projects/libraries/console-component"]
	path = projects/libraries/console-component
	url = git@gitlab.com:scion-scxml/console-component.git
[submodule "projects/libraries/jsondiffpatch"]
	path = projects/libraries/jsondiffpatch
	url = git@gitlab.com:scion-scxml/jsondiffpatch.git
[submodule "projects/libraries/react-collapsible"]
	path = projects/libraries/react-collapsible
	url = git@gitlab.com:scion-scxml/react-collapsible.git
[submodule "projects/devtools/scharpie"]
	path = projects/devtools/scharpie
	url = git@gitlab.com:scion-scxml/scharpie.git
[submodule "projects/libraries/eslint"]
	path = projects/libraries/eslint
	url = git@gitlab.com:scion-scxml/eslint.git
[submodule "projects/examples/universal-morse-input-output"]
	path = projects/examples/universal-morse-input-output
	url = git@gitlab.com:scion-scxml/example-universal-morse-input-output.git
[submodule "projects/devtools/cli"]
	path = projects/devtools/cli
	url = git@gitlab.com:scion-scxml/cli.git
[submodule "projects/devtools/debug"]
	path = projects/devtools/debug
	url = git@gitlab.com:scion-scxml/debug.git
[submodule "projects/devtools/eslint-plugin-scharpie"]
	path = projects/devtools/eslint-plugin-scharpie
	url = git@gitlab.com:scion-scxml/eslint-plugin-scharpie.git
[submodule "projects/devtools/redux-devtools-scion-monitor"]
	path = projects/devtools/redux-devtools-scion-monitor
	url = git@gitlab.com:scion-scxml/redux-devtools-scion-monitor.git
[submodule "projects/devtools/vscode-preview"]
	path = projects/devtools/vscode-preview
	url = git@gitlab.com:scion-scxml/vscode-preview.git
[submodule "projects/examples/botbuilder"]
	path = projects/examples/botbuilder
	url = git@gitlab.com:scion-scxml/example-botbuilder.git
[submodule "projects/examples/react-redux"]
	path = projects/examples/react-redux
	url = git@gitlab.com:scion-scxml/example-react-redux.git
[submodule "projects/examples/sciblog"]
	path = projects/examples/sciblog
	url = git@gitlab.com:scion-scxml/sciblog.git
[submodule "projects/examples/test-scharpie"]
	path = projects/examples/test-scharpie
	url = git@gitlab.com:scion-scxml/test-scharpie.git
[submodule "projects/examples/vi"]
	path = projects/examples/vi
	url = git@gitlab.com:scion-scxml/example-vi.git
[submodule "projects/libraries/core"]
	path = projects/libraries/core
	url = git@gitlab.com:scion-scxml/core.git
[submodule "projects/libraries/core-base"]
	path = projects/libraries/core-base
	url = git@gitlab.com:scion-scxml/core-base.git
[submodule "projects/libraries/core-legacy"]
	path = projects/libraries/core-legacy
	url = git@gitlab.com:scion-scxml/core-legacy.git
[submodule "projects/libraries/core-test-framework"]
	path = projects/libraries/core-test-framework
	url = git@gitlab.com:scion-scxml/core-test-framework.git
[submodule "projects/libraries/dashboard"]
	path = projects/libraries/dashboard
	url = git@gitlab.com:scion-scxml/dashboard.git
[submodule "projects/libraries/monitor-middleware"]
	path = projects/libraries/monitor-middleware
	url = git@gitlab.com:scion-scxml/monitor-middleware.git
[submodule "projects/libraries/react-codemirror"]
	path = projects/libraries/react-codemirror
	url = git@gitlab.com:scion-scxml/react-codemirror.git
[submodule "projects/libraries/sourcemap-plugin"]
	path = projects/libraries/sourcemap-plugin
	url = git@gitlab.com:scion-scxml/sourcemap-plugin.git
[submodule "projects/libraries/test-framework"]
	path = projects/libraries/test-framework
	url = git@gitlab.com:scion-scxml/test-framework.git
[submodule "projects/libraries/vm-browserify"]
	path = projects/libraries/vm-browserify
	url = git@gitlab.com:scion-scxml/vm-browserify.git
[submodule "projects/libraries/xmllint"]
	path = projects/libraries/xmllint
	url = git@gitlab.com:scion-scxml/xmllint.git
