text {
  font-size : 4px;
}

.node > rect {
  transition : stroke 1s ease-out, fill 1s ease-out;
}

.node > text {
  transition : fill 1s ease-out;
}

g.leaf > rect {
  fill: rgba(0,0,0,.1);
}

g.leaf > text {
  fill: #333;
}

g.compound.parallel > g.node > rect {
  stroke-dasharray : 1 1;
} 

.node > rect {
  fill: rgba(0,0,0,.1);
  stroke: #AAA;
}

.leaf.highlighted > rect {
  fill : #f9f2f4;
  stroke : #c7254e;
}

.leaf.highlighted > text {
  fill : #c7254e;
}


.node.selected > rect {
  stroke : blue;
}

.link {
  stroke: black;
  stroke-opacity: .6;
  fill: none;
  marker-end : url(#end);
  transition : stroke .25s ease-out;
}

.link.highlighted {
  stroke : #c7254e;
}

.port {
  stroke: #000;
  width: 1px;
  opacity: .6;
}

#end path {
  stroke: black;
  stroke-opacity: .6;
}

