<div class="flex grow">
  <div>
    <form class="form-horizontal" ng-submit="$ctrl.sendEvent($event)">
      <div class="control-group">
        <label class="control-label">Example</label>
        <div class="controls">
          <select ng-model="$ctrl.testPair" ng-options="val[0] for val in $ctrl.allTestPairs"></select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Layout</label>
        <div class="controls">
          <select ng-model="$ctrl.layout" ng-options="k for (k, v) in $ctrl.klayOptions"></select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Simulation Controls</label>
        <div class="controls">
          <button class="btn" ng-click="$ctrl.startOrStopMachine($event)">{{$ctrl.sc ? 'Stop Machine' : 'Start Machine'}}</button>
          <button class="btn" data-toggle="modal" data-target="#myModal">Show Test Script</button>
          <button class="btn" ng-click="$ctrl.runTestScript()">Run Test Script</button>
          <input ng-disabled="!$ctrl.sc" type="text" ng-model="$ctrl.event"></input>
          <input ng-disabled="!$ctrl.sc" type="submit" class="btn btn-primary" val="Send event"></input>
          &nbsp;
          <button class="btn btn-primary"> Run all tests </button>
        </div>
      </div>
    </form>
  </div>
  <div class="grow">
    <schviz model-url="'/' + $ctrl.testPair[0]" layout="$ctrl.layout" on-update="$ctrl.onUpdate" do-merge="$ctrl.doMerge"/>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Test Script</h4>
        </div>
        <div class="modal-body">
          <pre>{{$ctrl.formatTestScript($ctrl.testPair[1])}}</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
