<div class="flex grow">
  <div>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label">Example</label>
        <div class="controls">
          <select ng-model="$ctrl.testUrl" ng-options="val for val in $ctrl.allTests"></select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Layout</label>
        <div class="controls">
          <select ng-model="$ctrl.layout" ng-options="k for k in $ctrl.klayOptions"></select>
        </div>
      </div>
      <div class="control-group">
        <label class="checkbox">
          <input type="checkbox" ng-model="$ctrl.doMerge"> Merge
        </label>
      </div>
    </form>
  </div>
  <div class="grow">
    <schviz model-url="$ctrl.testUrl" layout="$ctrl.layout" on-update="$ctrl.onUpdate" do-merge="$ctrl.doMerge"/>
  </div>
</div>
