<html>
  <link rel="stylesheet" src="lib/nodeunit.css">
  <script src="lib/polyfill.js"></script>
  <script src="lib/nodeunit.js"></script>
  <script src="build/nodeunit-tests-bundle.js"></script>
  <script src="runner.js"></script>
  <% if(env === 'development'){ %>
  <script src="/dist/scion.js"></script>
  <% } %>
  <% if(env === 'production'){ %>
  <script src="/dist/scion.min.js"></script>
  <% } %>
  <% if(env === 'development' || env === 'production'){ %>
  <script>
    //vanilla module load
    start(window.scion);
  </script>
  <% } %>
  <% if(env === 'production-require'){ %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
  <script>
    require(['/dist/scion.min.js'], start); 
  </script>
  <% } %>
  <body>
    <script>
    </script>
  </body>
</html>
